@model RClone.Models.Post

@{
    ViewData["Title"] = "EditPost";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>RClone - Edit Post</title>
</head>

<body>
	<div class="container" id="container-theme1">
		<h5 id="create">
			Edit Post
		</h5>

		<div class="form-group">
			<form asp-action="EditPost" asp-controller="Post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<input type="hidden" asp-for="PostId" />

				<div class="form-group" id="create">
					<input asp-for="Title" class="form-control" placeholder="Enter new title"/>
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>

				<div class="form-group" id="create">
					<input asp-for="Text" class="form-control" placeholder="Enter new text"/>
					<span asp-validation-for="Text" class="text-danger"></span>
				</div>

				<div id="create">
					<button type="submit" value="save">Save Changes</button>
				</div>
			</form>
		</div>

		<hr id="create"/>

		<div id="create">
			<a asp-action="Index">Back to Home</a>
		</div>
	</div>
</body>
</html>

