@model RClone.Models.Post

@{
	ViewData["Title"] = "Post";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>RClone - Post</title>
</head>

<body>
	<div class="container" id="container-theme1">
		<h5 id="create">
			Create a post
		</h5>

		<div class="form-group">
			@using (Html.BeginForm("Post", "Home", FormMethod.Post))
			{

				<div class="form-group" id="create">
					<input placeholder="Enter a title" asp-for="Title" class="form-control">
				</div>

				<div class="form-group" id="create">
					<textarea placeholder="Enter the text" asp-for="Text" class="form-control"></textarea>
				</div>

				<div id="create">
					@Html.DropDownList("CommunityId", new SelectList(ViewBag.Communities, "CommunityId", "Name"))
				</div>

				<div id="create">
					<button type="submit">Submit Post</button>
				</div>
			}
		</div>

		<hr id="create" />

		<div id="create">
			<a asp-action="Index" asp-controller="Home">Back to Home</a>
		</div>
	</div>
</body>
</html>