################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RotW
/bin/Debug/netcoreapp2.2
/obj
/.vs
/bin/Release/netcoreapp2.2
