@model RClone.Models.Community

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>RClone - Create</title>
</head>
<body>
	<div class="container" id="container-theme1">
		<h5 id="create">
			Create a Community
		</h5>

		<div class="form-group">
			@using (Html.BeginForm("Create", "Community", FormMethod.Post))
			{
				<div class="form-group" id="create">
					<input placeholder="Enter a title" asp-for="Name" class="form-control" />
				</div>

				<div id="create">
					<button type="submit">Create Community</button>
				</div>
			}
		</div>

		<hr id="create" />

		<div id="create">
			<a asp-action="Index" asp-controller="Home">Back to Home</a>
		</div>
	</div>	
</body>